* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    /*font: 100%/1.5em Arial, Helvetica, sans-serif; /* 100% = 16px 1.5em - высота между строками */
    color: black;
}

table {
    margin: auto;
}

/*  flexible media  */

article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}


/*.container {
    width: 100%;
    margin: 0 auto;
    background: #d2d2d2;
}*/

.container .cols {
    float: left;
    margin: 0 0 1em;
    padding: 0 1em;
    background: white;
    text-align: center;
}

.container .cols.col-1 {width: 8.333333333333333%}
.container .cols.col-2 {width: 16.66666666666667%;}
.container .cols.col-3 {width: 25%;}
.container .cols.col-4 {width: 33.33333333333333%;}
.container .cols.col-5 {width: 41.66666666666667%;}
.container .cols.col-6 {width: 50%;}
.container .cols.col-7 {width: 58.33333333333333%;}
.container .cols.col-8 {width: 66.66666666666667%;}
.container .cols.col-9 {width: 75%;}
.container .cols.col-10 {width: 83.33333333333333%;}
.container .cols.col-11 {width: 91.66666666666666%;}
.container .cols.col-12 {width: 100%;}

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.row:after,
.clear:after {
    clear: both;
}
@media screen and (max-width: 320px) {
    h1{
        color: aqua;
    }
    .container .cols.col-1,
    .container .cols.col-2,
    .container .cols.col-3,
    .container .cols.col-4,
    .container .cols.col-5,
    .container .cols.col-6,
    .container .cols.col-7,
    .container .cols.col-8,
    .container .cols.col-9,
    .container .cols.col-10,
    .container .cols.col-11,
    .container .cols.col-12 {width: 100%;}
}