<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>animation</title>
    <link rel="stylesheet" type="text/css" href="static/animation.css">
</head>
<body>

<div class="cssload-container">
    <div class="cssload-circle-1">
        <div class="cssload-circle-2">
            <div class="cssload-circle-3">
                <div class="cssload-circle-4">
                    <div class="cssload-circle-5">
                        <div class="cssload-circle-6">
                            <div class="cssload-circle-7">
                                <div class="cssload-circle-8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>