<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <title>Responsive Template</title>
    <script>
        document.createElement( "picture" );
    </script>
    <script src="/static/js/picturefill.js" async></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="cols col-12">

            <a href="/filters">
                <img src="/static/img/new_k.gif" width="100%" alt="">
            </a>
            <!--<span data-picture data-alt="">


                    <span data-src="/static/img/5_k.jpg"></span>


                    <span data-src="/static/img/3_k.jpg" data-media="(min-width: 375px)"></span>


                    <span data-src="/static/img/1_k.jpg" data-media="(min-width: 390px)"></span>

                    <span data-src="/static/img/2_k.jpg" data-media="(min-width: 412px)"></span>

                    <span data-src="/static/img/4_k.jpg" data-media="(min-width: 414px)"></span>

                    <span data-src="/static/img/5_k.jpg" data-media="(min-width: 768px)"></span>


                <noscript>
                    <img src="/static/img/5_k.jpg" alt="">
                </noscript>
            </span>-->

            <table>
                <tr>
                    <td>

                        <a href="/resultblue_pink.zip">
                            <img src="/static/img/new_1.gif" width="100%" alt="">
                        </a>

                        <!-- <form id="1" enctype="multipart/form-data" method="post" action="">
                         <span data-picture data-alt="">
                             <a href="callback:nativePhotoSelect?func=nativePhotoSelect">
                                 <span data-src="/static/img/5_1.jpg"></span>
                             </a>
                             <a href="callback:nativePhotoSelect?func=nativePhotoSelect">
                                 <span data-src="/static/img/3_1.jpg" data-media="(min-width: 375px)"></span>
                             </a>
                             <a href="callback:nativePhotoSelect?func=nativePhotoSelect">
                                 <span data-src="/static/img/1_1.jpg" data-media="(min-width: 390px)"></span>
                             </a>
                             <a href="callback:nativePhotoSelect?func=nativePhotoSelect">
                                 <span data-src="/static/img/2_1.jpg" data-media="(min-width: 412px)"></span>
                             </a>
                             <a href="callback:nativePhotoSelect?func=nativePhotoSelect">
                                 <span data-src="/static/img/4_1.jpg" data-media="(min-width: 414px)"></span>
                             </a>
                             <a href="callback:nativePhotoSelect?func=nativePhotoSelect">
                                 <span data-src="/static/img/5_1.jpg" data-media="(min-width: 768px)"></span>
                             </a>
                             <noscript>
                                 <img src="/static/img/5_1.jpg" alt="">
                             </noscript>
                         </span>
                         </form>-->

                    </td>


                    <td>
                        <a href="/resultcomic.zip">
                            <img src="/static/img/new_2.jpg" width="100%" alt="">
                        </a>
                        <!--<form id="2" enctype="multipart/form-data" method="post" action="">
                        <span data-picture data-alt="">
                            <a href="/resultcomic.zip">
                                <span data-src="/static/img/5_2.jpg"></span>
                            </a>
                            <a href="/resultcomic.zip">
                                <span data-src="/static/img/3_2.jpg" data-media="(min-width: 375px)"></span>
                            </a>
                            <a href="/resultcomic.zip">
                                <span data-src="/static/img/1_2.jpg" data-media="(min-width: 390px)"></span>
                            </a>
                            <a href="/resultcomic.zip">
                                <span data-src="/static/img/2_2.jpg" data-media="(min-width: 412px)"></span>
                            </a>
                            <a href="/resultcomic.zip">
                                <span data-src="/static/img/4_2.jpg" data-media="(min-width: 414px)"></span>
                            </a>
                            <a href="/resultcomic.zip">
                                <span data-src="/static/img/5_2.jpg" data-media="(min-width: 768px)"></span>
                            </a>
                            <noscript>
                                <img src="/static/img/5_2.jpg" alt="">
                            </noscript>
                        </span>
                        </form>-->
                    </td>
                </tr>


                <tr>
                    <td>
                        <a href="/resultpop_art_light.zip">
                            <img src="/static/img/new_3.gif" width="100%" alt="">
                        </a>
                        <!--<form id ="3" enctype="multipart/form-data" method="post" action="">
                        <span data-picture data-alt="">
                            <a href="/resultpop_art_light.zip">
                                <span data-src="/static/img/5_3.jpg"></span>
                            </a>
                            <a href="/resultpop_art_light.zip">
                                <span data-src="/static/img/3_3.jpg" data-media="(min-width: 375px)"></span>
                            </a>
                            <a href="/resultpop_art_light.zip">
                                <span data-src="/static/img/1_3.jpg" data-media="(min-width: 390px)"></span>
                            </a>
                            <a href="/resultpop_art_light.zip">
                                <span data-src="/static/img/2_3.jpg" data-media="(min-width: 412px)"></span>
                            </a>
                            <a href="/resultpop_art_light.zip">
                                <span data-src="/static/img/4_3.jpg" data-media="(min-width: 414px)"></span>
                            </a>
                            <a href="/resultpop_art_light.zip">
                                <span data-src="/static/img/5_3.jpg" data-media="(min-width: 768px)"></span>
                            </a>
                            <noscript>
                                <img src="/static/img/5_3.jpg" alt="">
                            </noscript>
                        </span>
                        </form>-->

                    </td>
                    <td>
                        <a href="/resultstereo.zip">
                            <img src="/static/img/new_4.gif" width="100%" alt="">
                        </a>
                        <!--<form id="4" enctype="multipart/form-data" method="post" action="">
                        <span data-picture data-alt="">
                            <a href="/resultstereo.zip">
                                <span data-src="/static/img/5_4.jpg"></span>
                            </a>
                            <a href="/resultstereo.zip">
                                <span data-src="/static/img/3_4.jpg" data-media="(min-width: 375px)"></span>
                            </a>
                            <a href="/resultstereo.zip">
                                <span data-src="/static/img/1_4.jpg" data-media="(min-width: 390px)"></span>
                            </a>
                            <a href="/resultstereo.zip">
                                <span data-src="/static/img/2_4.jpg" data-media="(min-width: 412px)"></span>
                            </a>
                            <a href="/resultstereo.zip">
                                <span data-src="/static/img/4_4.jpg" data-media="(min-width: 414px)"></span>
                            </a>
                            <a href="/resultstereo.zip">
                                <span data-src="/static/img/5_4.jpg" data-media="(min-width: 768px)"></span>
                            </a>
                            <noscript>
                                <img src="/static/img/5_4.jpg" alt="">
                            </noscript>
                        </span>
                        </form>-->

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!--<div class="row">
        <div class="cols col-3">Три</div>
        <div class="cols col-7">Семь</div>
        <div class="cols col-2">Два</div>
    </div>-->
</div>
</body>
</html>